<html>
	<head>
		<meta charset='utf8'/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
		</style>
		<script>
		</script>
	</head>
	<body>
		<div id="hello">
            <!-- <input type="text" v-bind:value="message"/> -->
            <div v-for="(p, idx) in product">
       　　     <label>{{ idx }}.  {{ p.name }}</label>
                <label>{{ p.price }}</label>
         　　   <input type="text" v-model="p.quatity">
           　　 <button :data-name="p.name" :data-pid="idx" @click="inc">+</button>
            　　<button :data-name="p.name" :data-pid="idx" @click="dec">-</button>
　　　　　　　</div>

            <p>{{ getTotal }}</p>
        </div>
      
    </body>
    <script>
            var vm = new Vue({
                el:'#hello'
                ,data : {
                  product:  [ { 
                                name: '炸鸡'
                                ,quatity: 0
                               ,price: 19.5 }
                             ,
                             { name: '可乐'
                             ,quatity: 0
                            ,price: 3 }
                            ,
                            { name: '薯条'
                               ,quatity: 0
                               ,price: 3.5 }
                   ]
                }
                ,methods:{
                    inc(event){
                        // event -> target -> dataset -> data- (pid)
                        var click_idx = event.target.dataset.pid;
                        this.product[click_idx].quatity++
                        //this.quatity++
                    },
                    dec(event){
                        var pid = event.target.dataset.pid;
                        var p = this.product[pid]
                        p.quatity = p.quatity > 0 ? p.quatity - 1: 0
                        //this.quatity = this.quatity > 0 ? this.quatity - 1 : 0;
                    }
                }
                ,computed:{
                    getTotal(){
                        //return ''
                        var total = 0;
                        for(var i = 0 ; i < this.product.length; i++){
                            var p = this.product[i];
                            total += p.price * p.quatity
                        }

                        return total
                    }
                }
                

            });
        
    </script>
</html>